/*
    Resets
*/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both;}
div { position: relative; }

body {
    font-family:Arial, Helvetica, sans-serif;
    color: #1C4094;
    background-color: #000;
}
#wrapper {
    width: 640px;
    min-height: 960px;
    background-color: #fff;
    margin: 0 auto;
}

/*
    Logo
*/

#logo {
    height: 161px;
    width: 640px;
    background-color: green;
}

/*
    Nav
*/

#nav {
    background: url('gfx/nav-bg.png') repeat-x scroll 0 0 transparent;
    height: 81px;
    width: 640px;
}

/*
    Main
*/

#main {
    padding-left: 30px;
    padding-right: 30px;
    width: 580px;
}
.block {
    padding-bottom: 6px;
    padding-top: 25px;
    width: 583px;
}
.block-top {
    background-image: url('gfx/block-top-bg');
    background-repeat: repeat-x;
    height: 105px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.block-top h2 {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    height: 70px;
    line-height: 105px;
    margin-left: 75px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.block-body {
    background-image: url('gfx/block-bg.jpg');
    border: 1px solid #8CC7ED;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    list-style: none outside none;
    padding-bottom: 32px;
    width: 531px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/*
    Init
*/

#init-loader {
    padding-top: 20px;
    text-align: center;
}