/*
    Resets
*/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both;}
div { position: relative; }

/*
    Main
*/

body {
    font-family:Arial, Helvetica, sans-serif;
    color: #1C4094;
    background-color: #000;
}
#wrapper {
    width: 640px;
    min-height: 960px;
    background-color: #fff;
    margin: 0 auto;
    overflow-x: hidden;
}
a {
    color: #1C4094;
    text-decoration: none;
}

/*
    Logo
*/

#logo {
    height: 161px;
    width: 640px;
    background-color: green;
}

/*
    Nav
*/

#nav {
    background: url('gfx/nav-bg.png') repeat-x scroll 0 0 transparent;
    height: 81px;
    width: 640px;
    padding-bottom: 20px;
}

/*
    Back
*/

#back {
    height: 69px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background: url('gfx/arrow-back.png') no-repeat scroll 0 center transparent;
    margin-left: 30px;
}
#back h2 {
    font-size: 23px;
    font-weight: bold;
    height: 69px;
    line-height: 69px;
    padding-left: 23px;
}
#back .image-overlay-back {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 177px;
    height: 69px;
}

/*
    Main
*/

#main {
    overflow: hidden;
}
.block {
    padding-bottom: 6px;
    padding-top: 25px;
    width: 583px;
}
.block-top {
    background-image: url('gfx/block-top-bg.png');
    background-repeat: repeat-x;
    height: 105px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.block-top.block-top-radius {
    border-radius: 6px 6px;
}
.block-top h2 {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    height: 70px;
    line-height: 105px;
    margin-left: 120px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.block-body {
    background-image: url('gfx/block-bg.jpg');
    border: 1px solid #8CC7ED;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    list-style: none outside none;
    width: 581px;
}
.block-body.block-all-radius {
    border-radius: 6px 6px;
}
.block-body.block-text {
    padding: 20px;
    width: 542px;
}
.block-body.block-text p {
    font-size: 20px;
    line-height: 32px;
}
.block input[type="text"], .block input[type="email"], .block input[type="password"], .block input[type="number"], .block input[type="date"], .block input[type="email"]   {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    color: #1C4094;
    font-size: 22px;
    height: 25px;
    margin: 11px;
    padding: 27px 23px;
    width: 510px;
}
.block input[type="submit"] {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    height: 81px;
    padding-left: 22px;
    padding-right: 22px;
    color: #d4e5f5;
    background-color: #1c3f93;
    font-size: 30px;
    font-weight: bold;
    margin: 11px;
}
.block input[type="submit"].right {
    float: right;
}
.block .submit-container {
    width: 581px;
    height: 104px;
}
.block .submit-container-left {
    width: 362px;
    height: 85px;
    float: left;
    margin-top: 19px;
    margin-left: 19px;
}
.block .submit-container-right {
    width: 200px;
    height: 104px;
    float: left;
}
.block .submit-container-left p {
    display: none;
    line-height: 29px;
    font-size: 26px;
    color: red;
}
.block-logout {
    padding-bottom: 25px;
}
.loader {
    width: 128px;
    height: 100px;
    background-image: url('gfx/ajax-loader-wide.gif');
    background-position: top left;
    background-repeat: no-repeat;
}

/*
    Notification
*/

#notifications {
    position: absolute;
    bottom: 41px;
    right: 27px;
    width: 50px;
    height: 50px;
    background-image: url('gfx/block-top-bg');
    border-radius: 6px 6px;
    text-align: center;
    display: none;
}
#notifications a {
    line-height: 50px;
    display: block;
    color: #fff;
    font-size: 20px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
#notification-window-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    background-color: #000;
    opacity: 0.4;
    display: none;
}
#notification-window {
    width: 583px;
    position: absolute;
    top: 171px;
    left: 30px;
    display: none;
    z-index: 200;
}
#notifications-top, #notifications-bottom {
    background-image: url("gfx/block-top-bg");
    background-repeat: repeat-x;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 105px;
}
#notifications-top h2, #notifications-bottom h2 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: bold;
    height: 70px;
    line-height: 105px;
    margin-left: 120px;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}
#notifications-bottom {
    border-radius: 0px 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#notifications-bottom .image-overlay-notification {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 583px;
    height: 105px;
}
#notifications-body {
    background-image: url("gfx/block-bg.jpg");
    border: 1px solid #8CC7ED;
    list-style: none outside none;
    width: 581px;
    max-height: 500px;
    overflow-y: auto;
}
#notification-body-loading {
    height: 100px;
    width: 581px;
}
#notifications-body li, #notification-list li, #notifications-all li {
    height: auto;
    line-height: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
    padding-right: 60px;
    position: relative;
}
#notifications-body li .time, #notification-list li .time, #notifications-all li .time {
    padding-top: 10px;
    font-size: 18px;
}
ul.home-list li.sheep-is-sheep-:after {
    content: none;
}
.is-read-indicator {
    display: none;
    z-index: 1;
}
.notification-to-sheep-overlay {
    z-index: 999;
}
ul.home-list li.sheep-is-read-1 .is-read-indicator {
    display: block;
}



/*
    Init
*/

.block-init {
    padding-top: 44px;
    padding-bottom: 44px;
    text-align: center;
}
.block-init img {
    width: 200px;
    height: 200px; 
}

/*
    Home
*/

.main-menu .block {
    margin-left: 30px;
    margin-right: 30px;
}
.block-top.block-button {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.block-top.block-button h2 {
    color: #fff;
}
.block-top.block-button .image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}
ul.home-list li {
    font-size: 27px;
    font-weight: bold;
    list-style-position: outside;
    height: 105px;
    line-height: 103px;
    display: block;
    border-bottom: 1px solid #8CC7ED;
    border-top: 1px solid #fff;
    position: relative;
    padding-left: 75px;
}
ul.home-list li:first-child {
    border-top: none;
}
ul.home-list li:last-child {
    border-bottom: none;
}
ul.home-list li:after {
    content: url('gfx/home-arrow2.png');
    position: absolute;
    right: 25px;
    top: 25px;
}
ul.home-list .image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*
    Animations
*/

#main > div {
    width: 640px;
    float: left;
}

/*
    Map
*/

#map {
    width: 640px;
    display: block;
    height: 320px;
}
.map-overlay {
    width: 300px;
    height: 200px;
    padding: 20px;
}
.map-overlay h2 {
    font-size: 23px;
    font-weight: bold;
    height: 69px;
    line-height: 69px;
}
.map-overlay p {
    font-size: 14px;
    line-height: 23px;
}
.map-overlay input {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    color: #d4e5f5;
    background-color: #1c3f93;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
}

/*
    Alaert
*/

.block-alert {
    width: 581px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 6px;
}
.block-alert .head {
    background: url('gfx/bg_lightblue.jpg') repeat scroll 0 0 transparent;
    height: 79px;
    width: 581px;
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px;
}
.block-alert.active .head {
    border-bottom: 0px;
    border-bottom-left-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
}
.block-alert .head .arrow {
    background: url('gfx/arrow-updown.png') no-repeat scroll center bottom transparent;
    height: 24px;
    position: absolute;
    right: 22px;
    top: 27px;
    width: 41px;
}
.block-alert.active .head .arrow {
    background-position: center top;
}
.block-alert .head  h2 {
    display: table-cell;
    font-size: 22px;
    height: 79px;
    padding-left: 22px;
    padding-right: 86px;
    vertical-align: middle;
    width: 473px;
}
.block-alert .head .link {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 79px;
    width: 581px;
}
.block-alert .text {
    font-size: 22px;
    line-height: 26px;
    padding: 15px 22px;
    width: 537px;
    border: 1px solid #8CC7ED;
    border-top: none;
    display: none;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    min-height: 40px;
}
.block-alert.active .text {
    display: block;
}
.block-alert.active .text p {
    padding-right: 110px;
}
.block-alert input[type="submit"] {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    height: 40px;
    padding-left: 9px;
    padding-right: 9px;
    color: #d4e5f5;
    background-color: #1c3f93;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 22px;
    top: 15px;
}

/*
    Sheep
*/

.sheep-list-alive-0 {
    background-image: url('gfx/dead-indicator-bg.png');
}
.block-button-collection input {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    height: 55px;
    padding-left: 22px;
    padding-right: 22px;
    color: #d4e5f5;
    background-color: #1c3f93;
    font-size: 17px;
    font-weight: bold;
    margin: 11px;
}
.block-button-collection input.right {
    float: right;
}
.block-button-collection input.alert {
    background-color: #e1a3ae;
    color: #1C4094;
    border: 1px solid #e1778a;
}

/*
    Sheep add
*/

.block .input-hax   {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    color: #1C4094;
    font-size: 22px;
    height: 25px;
    margin: 11px;
    padding: 27px 23px;
    width: 510px;
    background-color: #fff;
    text-align: 25px;
}
.block .input-hax input {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 490px;
    margin: 0px;
    border: none;
    padding-left: 5px;
}
.input-dropdown {
    width: 510px;
    height: 79px;
    line-height: 79px;
    background-color: #fff;
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px;
    margin: 11px;
    font-size: 22px;
    padding-left: 23px;
    padding-right: 23px;
    cursor: pointer;
}
.input-dropdown.open {
    border-bottom-left-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
}
.input-dropdown .arrow {
    background: url('gfx/arrow-updown.png') no-repeat scroll center bottom transparent;
    height: 24px;
    position: absolute;
    right: 22px;
    top: 27px;
    width: 41px;
}
.input-dropdown.open .arrow {
    background-position: center top;
}
.input-dropdown .dropdown-body {
    position: absolute;
    top: 79px;
    left: -1px;
    width: 556px;
    border: 1px solid #8CC7ED;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    display: none;
}
.dropdown-body ul {
    width: 556px;
    background-color: #1C3F93;
}
.dropdown-body ul li {
    display: block;
    width: 556px;
    height: 79px;
    line-height: 79px;
    border-bottom: 1px solid #8CC7ED;
}
.dropdown-body ul li.last {
    border-bottom: none;
}
.dropdown-body ul li a {
    color: #fff;
    display: block;
    padding-left: 23px;
    padding-right: 23px;
    width: 510px;
}
.form_helptext {
    display: none;
    margin: 11px;
    margin-left: 27px;
}
#sheep_comment_container {
    margin: 11px;
    width: 510px;
}
#sheep_comment_container textarea {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    color: #1C4094;
    font-size: 22px;
    height: 115px;
    padding: 27px 23px;
    width: 518px;
    padding-right: 4px;
    resize: none;
}

/*
    Login
*/

#login_loader {
    position: absolute;
    top: 0px;
    right: 12px;
    display: none;
}

/*
    Log
*/

#notification-list li {
    padding-left: 35px;
    padding-right: 35px;
}
#notification-list li:after {
    content: "";
}